body {
    background-color: black;
    color: white;
    justify-content: center;
    align-items: center;
    font-family: monospace;
    font-size: large;
}
p {
    margin: 2px;
}
a {
    color: inherit;
}
.releases {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.links {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 20px;
}
.cyberlucifolium-card {
    display: flex;
    flex-wrap: wrap;
    color: rgb(63, 63, 63);
    background-color: #fffade;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
    justify-content: space-between;
    align-items: center;
    width: clamp(150px, 50vw, 750px);
    /* min-width: 400px; */
    padding-left: 50px;
    padding-right: 50px;
    /* margin: 20px; */
}