body {
    background-color: black;
    color: white;
    /* border: solid white; */
    font-family: monospace;
    font-size: large;
}
    
.bigdiv {
    align-items: center;
    /* height: 80vh; */
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;

}
.page {
    border: solid white;
    border-radius: 20px;
    min-height: 500px;
    min-width: 700px;
    max-width: 700px;
    padding-right: 20px;
    padding-left: 20px;
}
a {
    color: white;
}
h1 {
    justify-self: center;
}
h2 {
    justify-self: center;
}
.audioContainer {
    justify-self: center;
}